.container-fluid {
  padding-left: 0;
  padding-right: 0; }

.game-col {
  padding: 20px; }

.peice-placer {
  border: 1px solid green;
  position: relative;
  max-width: 700px;
  height: 100px; }

.board {
  border: 1px solid yellow;
  position: relative;
  max-width: 700px;
  height: 700px;
  background-image: url(http://connect4.gamesolver.org/image?pos=null);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; }

.peice {
  position: absolute;
  top: 2.25px;
  left: 5px;
  width: 90px;
  height: 90px;
  border-radius: 50%; }
  .peice.red {
    background-color: red; }
  .peice.black {
    background-color: black; }

.game-meta-col {
  padding: 20px 0; }

.title-image {
  font-size: 56px; }

.player {
  margin: 10px 0; }
